<div class="menu d-flex pt-2">
  <div class="container">
    <div class="d-flex justify-content-between">
      <!-- <img class="logo" src="../assets/mpsp-logo.png" alt="MPSP"> -->
      <h1 class="brand-font m-0">> unikor</h1>
      <div class="user">
        <div class="dropdown">
          <a *ngIf="user" class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle"></i>
            {{user}}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i>
              Sair
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>