<div class="d-flex justify-content-between">
	<h3>Visualização</h3>
	<button class="btn btn-indigo" (click)="export.emit()">
		<span class="mr-2">PDF</span>
		<i-feather (click)="export.emit(report._id)" name="download" style="height: 20px; width: 20px; cursor:pointer">
		</i-feather>
	</button>
</div>
<hr />
<ng-container *ngIf="report; else noData">

	<div #reportContent class="row text-uppercase">
		<ng-container *ngFor="let item of report | keyvalue">
			<div class="col-3 mb-3">
				<span class="d-block font-weight-bold text-break">{{ item.key }}:</span>
				<span class="text-break">{{ item.value || "-" }}</span>
			</div>
		</ng-container>
	</div>

</ng-container>
<ng-template #noData>

	<div class="d-flex justify-content-center mt-5">
		<p class="text-danger">Não há dados disponíveis.</p>
	</div>

</ng-template>