.custom-card {
  border-radius: 0.3em;
  width: 20rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.7em;
  background: #f3f3f3;
}

.page-a4-margin {
  margin: 30mm 45mm 30mm 45mm;
  overflow: auto;
}

.page-a4-content {
  height: 29.7cm;
  width: 21cm;
}
