<div class="col-xs-12 col-sm-12 col-md-12 p-0">
	<div class="box">
		<div class="d-flex justify-content-between">
			<h3>Histórico de Relatórios</h3>
			<div class="form-inline my-2 my-lg-0 justify-content-end">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Pesquisar relatório..." [(ngModel)]="search">
					<div class="input-group-append">
						<span class="input-group-text">
							<i-feather name="search" style="width: 16px;"></i-feather>
						</span>
					</div>
				</div>
				<button class="btn btn-indigo ml-1 mt-1 mt-lg-0" (click)="modalOpen.emit()">
					Novo
					<i-feather name="plus" style="width: 18px; cursor:pointer">
					</i-feather>
				</button>
			</div>
		</div>
		<hr />
		<ng-container *ngIf="history; else noHistory">
			<div class="body">
				<table class="table table-borderless m-auto">
					<thead>
						<tr class="text-center">
							<th scope="col">#</th>
							<th scope="col">CNPJ</th>
							<th scope="col">CPF</th>
							<th scope="col">Nome</th>
							<th scope="col">Data do Relatório</th>
							<th colspan="2">Status</th>
							<th scope="col">Visualizar</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let report of history | filter:search: ['cnpj', 'cpf', 'nome', 'dataRelatorio']; let i = index"
							class="table-row text-center">
							<th scope="row">{{ i + 1 }}</th>
							<td>{{ report.cnpj || '-' }}</td>
							<td>{{ report.cpf || '-' }}</td>
							<td>{{ report.nome || '-' }}</td>
							<td>{{ report.dataRelatorio || '-' }}</td>
							<td (mouseover)="showTooltip($event)">
								<span class="text-success" style="cursor: pointer;" data-toggle="tooltip" data-html="true"
									title="<strong>Sucesso:</strong> {{report.sucesso.length > 0 ? report.sucesso : 'Nenhum'}}">
									<i-feather name="check" style="width: 18px;"></i-feather>
									<small class="ml-1" style="font-size: 14px">{{report.sucesso.length}}</small>
								</span>
							</td>
							<td (mouseover)="showTooltip($event)">
								<span class="text-danger" style="cursor: pointer;" data-toggle="tooltip" data-html="true"
									title="<strong>Falharam:</strong> {{report.falharam.length > 0 ? report.falharam : 'Nenhum'}}">
									<i-feather name="x" style="width: 18px;"></i-feather>
									<small class="ml-1" style="font-size: 14px">{{report.falharam.length}}</small>
								</span>
							</td>
							<td>
								<i-feather (click)="changeView.emit(report._id)" name="eye" style="width: 18px; cursor:pointer;">
								</i-feather>
							</td>
						</tr>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</ng-container>
		<ng-template #noHistory>
			<div class="d-flex justify-content-center mt-5">
				<p class="text-danger">Não há dados disponíveis.</p>
			</div>
		</ng-template>
	</div>
</div>