@import url("https://fonts.googleapis.com/css?family=Cabin:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #b2a3ca1a !important;
}

a,
a:hover {
  text-decoration: none !important;
  color: #000 !important;
}

.brand-font {
  font-family: "Cabin", sans-serif;
  color: #000;
}

.box {
  background: #fff;
  border-radius: 0.3em;
  box-shadow: 0px 5px 5px 0px #0000001a;
  margin: 1em 0;
  padding: 2em;
  flex: 1;
  min-width: 35%;
  max-width: 100%;
}

.btn-indigo {
  background: var(--indigo) !important;
  color: #fff !important;
}

.btn-indigo:hover {
  background: #000 !important;
}

.btn:focus {
  box-shadow: none !important;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.15) !important;
}
